@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Black list users";
}
    <table  id="dtExample">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
                <th>State</th>
            </tr>
        </thead>
    </table>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        fnLoadDataTableInstance();
    });

    function fnLoadDataTableInstance() {
        var dataSource = [
            { name: 'Gowtham', age: 28, city: 'Coimbatore', state: 'Tamil Nadu' },
            { name: 'Sudhan', age: 38, city: 'Ooty', state: 'Tamil Nadu' },
            { name: 'Vignesh', age: 34, city: 'Erode', state: 'Tamil Nadu' },
            { name: 'CSK', age: 34, city: 'Coimbatore', state: 'Tamil Nadu' },
            { name: 'Arvind', age: 28, city: 'Coimbatore', state: 'Tamil Nadu' },
            { name: 'Rahul', age: 38, city: 'Ooty', state: 'Tamil Nadu' },
            { name: 'Raji', age: 34, city: 'Erode', state: 'Tamil Nadu' },
            { name: 'Ananthi', age: 34, city: 'Coimbatore', state: 'Tamil Nadu' },
        ];

        $('#dtExample').DataTable({
            dom: 'Bfrtip',
            data: dataSource,
            columns: [
                {
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                { data: 'name' },
                { data: 'age' },
                { data: 'city' },
                { data: 'state' }
            ],
            paging: true,
            info: true,
            language: {
                emptyTable: "No data available"
            },
            fnRowCallback: function (nRow, aData, iDisplayIndex) {
                $("td:first", nRow).html(iDisplayIndex + 1);
                return nRow;
            }
        });
    }
</script>
