@using PicturePilot.Data.Entities;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Reports";
}
@model IEnumerable<Report>
<div class="d-flex justify-content-center w-100 row">
    @foreach (var item in Model)
    {
        <div class="card col-md-4 mb-3 mr-3" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">
                    @if ((int)@item.ReportType == 0)
                    {
                        <div>Report type: User</div>
                        <a href="/View/User/@item.TargetId" class="btn btn-warning">User datails</a>
                    }
                    else
                    {
                        <div>Report type: Image</div>
                        <a href="/View/Image/@item.TargetId" class="btn btn-warning">Image datails</a>
                    }
                    <br />Title: @item.Message
                    <br />Sender:  @item.Sender.Email
                </p>
                    <div style="display: flex">
                    <form method="post" action="/Admin/Reports/Innocent/@item.Id">
                        <button type="submit" class="btn btn-primary">Innocent</button>
                    </form>
                    <form method="post" action="/Admin/Reports/Block/@item.Id">
                        <button type="submit" class="btn btn-danger">Block</button>
                    </form>
                    </div>
            </div>
        </div>
    }
</div>
